.simple-website-header {
  position: sticky;
  z-index: 100;
  inset: 0 0 auto 0;
  padding: 0.5rem;
  border-bottom: 1px solid currentColor;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-color);
  z-index: 2;
}

.simple-website-main {
  padding: 1rem;
}

.simple-website-div {
  margin: 0 auto;
  max-width: 60ch;
}

.simple-website-div p {
  line-height: 1.7;
}

.simple-website-ul {
  list-style: none;
}

.simple-website-heading {
  font-size: 1.1rem;
  scroll-margin-top: 4rem;
}
